name: Auto Zip and Release

on:
  pull_request:
    branches:
      - master

jobs:
  zip-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: process
        id: process
        run: |
          VERSION=`cat module.prop | grep -oP "(?<=version=).*" | cut -d "=" -f2`
          GITHUB_SHA=${{github.sha}}
          GITHUB_SHORT_SHA=${GITHUB_SHA:0:7}
          FULL_TAG="alpha-$VERSION-$GITHUB_SHORT_SHA"
            
          echo "::set-output name=tag::$FULL_TAG"
          zip -r magisk-wifiadb.zip ./*

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "magisk-wifiadb.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.process.outputs.tag }}
          prerelease: true
